<form class="" action="index.html" method="post">
  <input type="text" name="name" class="title" placeholder="Title" value="">
  <input type="text" name="name" class="body" placeholder="Body" value="">
  <button type="button" aria-value="submit" class="form-button" value="">Submit</button>
</form>
